body {
  background-color: #ffffff;
}

.container {
  margin-bottom: 50px;
}

.content {
  margin: 50px auto 0px auto;
  width: 75%;
  max-width: 800px;
}

.med-logo {
  display: block;
  margin: 0 auto;
  text-align: center;
  font-size: 6em;
}

.btn {
  margin: 20px 0px;
}

.search-by-box {
  text-align: center;
}

.search-by-box .btn {
  width: 200px;
}

#search-by-condition, #search-by-doctor {
  display: none;
}

.processing-box {
  display: none;
  text-align: center;
}

.processing-icon {
  font-size: 2.4em;
  -webkit-animation: rotation 2s infinite linear;
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}

.results-box {
  display: none;
}

ul {
  list-style-type: none;
}

.practice-list-item {
  padding-top: 10px;
  padding-bottom: 10px;
}
